<!-- <div style='border: 6px solid red'>
<% if @name %>
<h1> <%=@name %> </h1>
<% end %>
</div>
<div style='border: 6px dashed blue'>
<img src='http://bit.ly/1eze8aE'>
</div> -->



<% if @name %>
<div style='border: 6px solid red'>
<h1> <%=@name %> </h1>
</div>
<div style='border: 6px dashed blue'>
<img src='http://bit.ly/1eze8aE'>
</div>
<% end %>
