<div style='border: 6px solid red'>
<h1> <%=@name %> </h1>
</div>
<div style='border: 6px dashed blue'>
<img src='http://bit.ly/1eze8aE'>
</div>
<% if !@name %>
    <form action='http://localhost:9393/named-cat'>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
<% end %>






<!-- # <% if @name %>
# <div style='border: 6px solid red'>
# <h1> <%=@name %> </h1>
# </div>
# <div style='border: 6px dashed blue'>
# <img src='http://bit.ly/1eze8aE'>
# </div>
# <% else %>
# form action='http://localhost:9393/named-cat'>
#   <input type="text" name="name">
#   <input type="submit" value="Submit">
# </form>
#
# <% end %> -->
